@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none !important;
  box-sizing: border-box;
}
:root {
  /* font size */
  --fs-xsm: 14px;
  --fs-sm: 16px;
  --fs-md: 20px;
  --fs-lg: 40px;
  --fs-xl: 60px;
  /* ==color== */
  --clr-lytwhite: #f1f1f1;
  --clr-white: #fff;
  --clr-lytblack: #222222;
  --clr-moreblack: #262626;
  --clr-normalblack: #30302e;
  --clr-ylo: yellowgreen;
}
/* font size */
.fs_xsm {
  font-size: var(--fs-xsm);
}
.fs_sm {
  font-size: var(--fs-sm);
}
.fs_md {
  font-size: var(--fs-md);
}
.fs_lg {
  font-size: var(--fs-lg);
}
.fs_xl {
  font-size: var(--fs-xl);
}
/* color */
.clr_lytwhite {
  color: var(--clr-lytwhite);
}
.clr_white {
  color: var(--clr-white);
}
.clr_lytblack {
  color: var(--clr-lytblack);
}
.clr_moreblack {
  color: var(--clr-moreblack);
}
.clr_normalblack {
  color: var(--clr-normalblack);
}
.clr_ylo {
  color: var(--clr-ylo);
}
/* -----font family------- */
.ff_poppins {
  font-family: "Poppins", sans-serif;
}
.my_container {
  max-width: 1164px;
  padding-left: 12px;
  padding-right: 12px;
  margin: auto;
}
/* =------------header--------------- */
.head_bg {
  background-image: url(../src/assets/images/png/headbg1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30%;
  height: 95vh;
}
.bg_brown {
  background-color: yellowgreen;
  clip-path: polygon(0px 0px, 100% 0px, 96% 100%, 3% 100%);
}
.mx_650 {
  max-width: 650px;
}
.hover_text_orng {
  transition: all 0.2s linear;
}
.hover_text_orng:hover {
  color: black;
}
.bg_blur {
  background-color: rgba(13, 13, 13, 0.5);
  height: 100%;
}
.after_bg {
  position: relative;
}
.logo_style {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 900;
  font-size: 50px;
  text-align: center;
  color: rgb(114, 212, 215);
}

.click_nav {
  height: 5px;
  width: 35px;
  background-color: #f1f1f1;
}
.click_nav2 {
  height: 5px;
  width: 35px;
  background-color: #f1f1f1;
  margin-top: 8px;
}
.click_nav3 {
  height: 5px;
  width: 35px;
  background-color: #f1f1f1;
  margin-top: 8px;
}
.dropdown {
  display: none;
}
.dropdown-toggle {
  background-color: yellowgreen !important;
  border: 1px solid yellowgreen !important;
  font-family: "Poppins", sans-serif !important;
}
select {
  outline: none;
  border: 2px solid white !important;
  padding: 8px 3px 8px 3px;
}
.br_rdc12 {
  border-radius: 12px;
}
#head_input {
  background-color: white;
}
.search_style {
  padding: 5px 5px 5px 15px;
  border-radius: 12px;
}
#head_input input {
  border: 2px solid white;
  outline: none;
  padding-left: 10px 10px 10px 20px;

  border-radius: 5px !important;
}
.mx_700 {
  max-width: 700px;
}
.but_btn {
  border: 2px solid yellowgreen;
  background-color: yellowgreen;
  padding: 8px 16px;
  border-radius: 3px;
}
.bg_ylow {
  background-color: yellowgreen;
  padding: 10px 20px 10px 20px;
  border-radius: 12px;
}
.cart_hover {
  transition: all 0.2s linear;
}
.cart_hover:hover .clr_set {
  color: rgb(114, 212, 215);
}
.slick-next:before {
  content: "→";
  height: 100%;
  border-radius: 50%;
  color: yellowgreen !important;
  font-size: 50px !important;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  position: relative !important;
  left: -23px !important;
  line-height: 1;
  opacity: 0.75;
  color: white;
  border-radius: 50%;
  color: yellowgreen !important;
  font-size: 50px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: none;
}
.bg_red {
  background-color: #f26522;
}
.side_nave {
  background-color: yellowgreen;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 330px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 80px;
  padding-left: 70px;
  transition: all 0.3s linear;
}
.cross_style {
  font-size: 40px;
  position: relative;
  left: 190px;
  top: -40px;
}
.l_m100 {
  left: -100%;
}
.l_0 {
  left: 0;
}
.nav_lihovr {
  transition: all 0.2s linear;
}
.nav_lihovr:hover {
  color: black;
}
.cur_pointr {
  cursor: pointer;
}
/* -------cards---------- */
.box_main {
  width: 100%;
  background-color: #ffffff;
  height: auto;
  padding: 20px;
  box-shadow: 2px 15px 18px 2px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 2px 15px 18px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 2px 15px 18px 2px rgba(0, 0, 0, 0.15);
  background-color: white;
  margin-bottom: 20px;
}
.btn_arrow {
  background-color: yellowgreen;
  color: white;
  border: 2px solid yellowgreen;
  padding: 10px 15px;
}

/* --------round---------- */
.round {
  height: 130px;
  width: 130px;
  border: 16px solid;
  border-right: 16px solid yellowgreen;
  border-left: 16px solid yellowgreen;
  border-radius: 50%;
  margin: auto;
  animation: round 4s linear 0s infinite forwards;
}
@keyframes round {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 1400px) {
}
@media (min-width: 1200px) {
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    position: relative !important;
    left: -23px !important;
    line-height: 1;
    opacity: 0.75;
    color: white;
    border-radius: 50%;
    color: yellowgreen !important;
    font-size: 50px !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;
  }
  .head_bg {
    background-image: url(../src/assets/images/png/headbg1.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
  }
}
@media (min-width: 992px) {
  .dropdown {
    display: block;
  }
}
@media (min-width: 768px) {
  .head_bg {
    background-image: url(../src/assets/images/png/headbg1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30%;
    height: 100vh;
  }
}
@media (min-width: 576px) {
}
/* @media (min-width: 1400px) {
} */
